projects

# Python cruft
*.pyc
*.pyo
*.egg-info
dist
build
MANIFEST
start.spec

# vim temp files
*.swp

# emacs temp files
*~

# enaml cache
__enamlcache__/

*.spec


.vscode
.idea


# Packaging
packaging/pyinstaller/build
packaging/pyinstaller/dist
packaging/pyinstaller/angr-management.spec
packaging/appimage/AppDir
packaging/appimage/appimage-builder-cache
packaging/appimage/AppDir
*.AppImage
