[submodule "library_docs"]
	path = angrmanagement/resources/library_docs
	url = https://github.com/angr/library_docs
[submodule "flirt_signatures"]
	path = angrmanagement/resources/flirt_signatures
	url = https://github.com/angr/flirt_signatures
