.contextMenu {
    width: 200px;
    position: fixed;
    -webkit-padding-start: 0px;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.contextMenuText.hasSubmenus:after {
    content: '\25B6';
    position: absolute;
    right: 10px;
}

.contextMenuText.checked:before {
    content: '\2713';
    position: absolute;
    left: 10px;
}

.contextMenuSpacer {
    border-bottom: 1px solid #ccc;
}

.contextMenuSubmenu {
    width: 200px;
    position: absolute;
    left: 200px;
    -webkit-padding-start: 0px;
    display: block;
    top: 0px;
    float: none;
}

.contextMenuText {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
}
