.graph-node {
    display: block;
    background-color: #eee;
    position: absolute;
    min-width: 400px;
    border: 2px solid grey;
    /*
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px 70px;
    border-bottom-right-radius: 20px 70px;
    */
}

.graph-node bblock {
    margin: 0 auto;
    font-family: monospace;
}

.bbHead {
    margin: 0px;
    background-color: grey;
    color: white;
    font-size: 1.2em;
    padding: 7px;
    text-align: right;
}

.bbSurveying {
    margin: 0px;
    color: black;
    font-size: 1.2em;
    padding-top: 5px;
    text-align: right;
    font-family: sans-serif;
}

.blockHighlight {
    border-color: #f0ad4e;
}
.blockHighlight .bbHead {
    background-color: #f0ad4e;
    color: black;
}

.blockHighlight2 {
    border-color: gold;
}
.blockHighlight2 .bbHead {
    background-color: gold;
    color: black;
}

.top {
    z-index: 1000;
}

.path_box {
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
}

#graphRoot {
    position: relative;
    z-index: 0;
}

.vex_irstmt {
	white-space:nowrap;
}

.stmtLeftMargin {
    width: 75px;
    text-align: right;
    display: inline-block;
}

.blue { color: blue; }
.red {color: red; }

.plusMinus {
    margin-left: 2px;
    border: 1px solid black;
    padding: 0px 1px;
    border-radius: 2px;
    cursor: pointer;
}

irstmt {
    display: inline-block;
}

.functions {
    padding: 20px;
}

.funcnode {
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    display: block;
}

.funcnode:hover {
    background-color: #eee;
}

.funcnode.funcnodeSelected {
    font-weight: bold;
}

tr.selectedFunctionEntry > td {
    font-weight: bold;
    background-color: #ddf !important;
}
tr.selectedFunctionEntry:hover > td {
    background-color: #eeeeef !important;
}
