.bblock {
    background-color: #ccc;
    padding: 10px 25px;
    display: block;
    position: absolute;
}

.bblock bblock {
    margin: 0 auto;
    font-family: monospace;
}

.top {
    z-index: 1000;
}

.path_box {
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
}

.header-right {
    text-align: right;
}

.table-no-border>tbody>tr>th, .table-no-border>tbody>tr>td {
  border-top: none;
}

graph {
    position: relative;
    z-index: 0;
}

.vex_irstmt {
	white-space:nowrap;
}

.top-bar {
    width: 100%;
    border-bottom: 2px solid grey;
    padding-bottom: 5px;
}

.top-bar-title {
    margin-right: 20px;
    font-size: 2em;
}
