.bblock {
    background-color: #ccc;
    padding: 10px 25px;
    display: block;
    position: absolute;
}

.path_box {
    border: 1px solid;
    display: inline-block;
    padding: 0.3em;
}

.header-right {
    text-align: right;
}

.table-no-border>tbody>tr>th, .table-no-border>tbody>tr>td {
  border-top: none;
}
