.container {
    width: 100%;
}

.header-right {
    text-align: right;
}

.table-no-border>tbody>tr>th, .table-no-border>tbody>tr>td {
  border-top: none;
}

.top-bar {
    width: 100%;
    border-bottom: 2px solid grey;
    padding-bottom: 5px;
}

.top-bar-title {
    margin-right: 20px;
    font-size: 2em;
}

.loading-icon:after {
    content: '';
    background-image: url('/static/img/loading.gif');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.fileinput {
    display: block;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 3px dashed grey;
    height: 150px;
}

.fileinput.dragover {
    border-color: green;
    background-color: #bbb;
    color: #eee;
}

.fileinputdragging {
    display: none;
}

.dragover .fileinputdragging {
    display: block;
}

.dragover .fileinputcontrols {
    display: none;
}

.fileinputmessage {
    text-align: center;
    font-size: 2em;
    padding-top: 32px;
}

viewlayout {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

viewlayout > div {
    width: 100%;
    height: 100%;
}

viewlayout > div > div {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.closex {
    background: none;
    border: none;
    border-radius: 50%;
    background-color: #eee;
    font-size: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 0px;
    padding: 0px;
    outline: none;
}

.closex:hover {
    background-color: #ddd;
    color: red;
}

.closex:active {
    background-color: white;
    font-weight: bold;
}

.highlight {
    background-color: yellow;
    color: black;
}

.pickersearch {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.pickersearch span {
    opacity: 0.5;
    background-color: white;
    border: 1px solid grey;
    border-radius: 12px;
    font-size: 15px;
    display: inline-block;
    padding: 3px 0px;
    margin: 0px;
    width: 24px;
    height: 24px;
    text-align: center;
}

.pickersearch input {
    opacity: 0;
    width: 0px;
    transition: all ease-out 0.2s;
}

.pickersearch:hover span, .pickersearch.filled span {
    opacity: 1;
}

.pickersearch:hover input, .pickersearch.filled input {
    opacity: 1;
    width: 150px;
    display: inline-block;
}
