.container {
    width: 100%;
}

.bblock {
    background-color: #ccc;
    padding: 10px 25px;
    display: block;
    position: absolute;
}

.bblock bblock {
    margin: 0 auto;
    font-family: monospace;
}

.top {
    z-index: 1000;
}

.path_box {
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
}

.header-right {
    text-align: right;
}

.table-no-border>tbody>tr>th, .table-no-border>tbody>tr>td {
  border-top: none;
}

graph {
    position: relative;
    z-index: 0;
}

.vex_irstmt {
	white-space:nowrap;
}

.top-bar {
    width: 100%;
    border-bottom: 2px solid grey;
    padding-bottom: 5px;
}

.top-bar-title {
    margin-right: 20px;
    font-size: 2em;
}

.loading-icon:after {
    content: '';
    background-image: url('/static/img/loading.gif');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.fileinput {
    display: block;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 3px dashed grey;
    height: 150px;
}

.fileinput.dragover {
    border-color: green;
    background-color: #bbb;
    color: #eee;
}

.fileinputdragging {
    display: none;
}

.dragover .fileinputdragging {
    display: block;
}

.dragover .fileinputcontrols {
    display: none;
}

.fileinputmessage {
    text-align: center;
    font-size: 2em;
    padding-top: 32px;
}

.styleFull {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.styleFull > div {
    width: 100%;
    height: 100%;
}

.closex {
    background: none;
    border: none;
    border-radius: 50%;
    background-color: #eee;
    font-size: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 0px;
    padding: 0px;
    outline: none;
}

.closex:hover {
    background-color: #ddd;
    color: red;
}

.closex:active {
    background-color: white;
    font-weight: bold;
}

.functions {
    padding: 20px;
}

.highlight {
    background-color: yellow;
    color: black;
}
