@media screen {
    div#preloader {
        position: absolute;
        left: -9999px;
        top:  -9999px;
    }
    div#preloader img {
        display: block;
    }
}
@media print {
    div#preloader, 
    div#preloader img {
        visibility: hidden;
        display: none;
    }
}
