<div style="padding:30px;">

<h2>New Tab</h2>

<label>Type:
    <select ng-model="type">
        <option value="FUNCTIONS">Functions</option>
        <option value="CFG">CFG</option>
        <option value="SURVEYOR">Surveyor</option>
        <option value="SPLITTEST">Splitting test</option>
    </select>
</label>

<div ng-switch on="type" style="margin: 20px;">
    <div ng-switch-when="CFG">
        WHAT KIND OF CFG DO YOU WANT SIR
    </div>

    <div ng-switch-when="FUNCTIONS">
        WHAT KIND OF FUNCTIONS DO YOU WANT SIR
    </div>

    <div ng-switch-when="SURVEYOR">
        <form class="form-horizontal simple-form" novalidate>
          <div class="control-group">
            <label class="control-label" for="surveyorType">Surveyor Type:</label>
            <div class="controls">
              <select id="surveyorType" ng-model="surveyorType" ng-options="t for t in surveyorTypes"></select>
            </div>
          </div>

          <div class="control-group" ng-repeat="(o,d) in surveyorFieldDescriptions[surveyorType]">
            <label class="control-label" for="option_{{o}}">{{d}}</label>
            <div class="controls"> <input id="option_{{o}}" ng-model="surveyorFields[o]"> </div>
          </div>
        </form>
    </div>

    <div ng-switch-when="SPLITTEST">
        OKAY
    </div>

    <div ng-switch-default>Select a type!</div>
</div>

<center>
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-disabled="thinking" ng-class="{'loading-icon': thinking}" ng-click="add()">Add Tab</button>
</center>

</div>
