<div ng-class="{blockHighlight: view.comm.cfgHighlight.blocks[block], blockHighlight2: view.comm.cfgHighlight2.blocks[block]}"> <!-- some classes according to highlight data... -->
    <div class="bbHead">{{text}}
      <div class="bbSurveying" ng-if="surveyorConnected">
        <button ng-if="!isBreakingHere" real-click="breakHere()" class="btn btn-sm btn-danger break-btn">Break here!</button>
        <button ng-if="isBreakingHere" disabled class="btn btn-sm btn-danger break-btn">Breaking here!</button>
      </div>
    </div>
    <irsb style="z-index: 1000" ng-if="irsb" data="irsb" view="view" uictx="myuictx"></irsb>
    <span ng-if="error">{{error}}</span>
</div>
