<ul ng-if="item.subitems && item._showsubs && !item.disabled" class="contextMenuSubmenu dropdown-menu" role="menu">
    <li context-menu-item class="contextMenuItem" role="presentation"
        ng-repeat="subitem in item.subitems"
        ng-class="{disabledMenuItem: subitem.disabled}"
        ng-click="click(subitem, $event)"
        ng-mouseenter="mouseenter(subitem)"
        item="subitem"></li>
</ul>
<a class="contextMenuText" role="menuitem"
      ng-class="{contextMenuSpacer: item.spacer, hasSubmenus: item.subitems, checked: item.checked}">{{item.text}}</span>
