<ul ng-if="action.children.length > 0 && action._showsubs && action.isEnabled()" class="contextMenuSubmenu dropdown-menu" role="menu">
    <li context-menu-item class="contextMenuItem" role="presentation"
        ng-repeat="subaction in action.children"
        ng-class="{disabledMenuItem: !subaction.isEnabled()}"
        ng-click="click(subaction, $event)"
        ng-mouseenter="mouseenter(subaction)"
        action="subaction"></li>
</ul>
<a class="contextMenuText" role="menuitem"
    ng-class="{contextMenuSpacer: action.spacer, hasSubmenus: action.children.length > 0, checked: action.isChecked()}">{{action.name}}</span>
