<div ng-if="!view.gcomm.funcMan.loaded">Loading...</div>

<table ng-if="view.gcomm.funcMan.loaded" class="table table-striped table-hover" style="width: 100%;">
    <tr>
        <th style="width: 60%;">Name</th>
        <th>Address</th>
    </tr>
    <tr ng-repeat="function in getFuncList() | filter:filterfunc" 
        ng-click="click(function)"
        ng-class="{selectedFunctionEntry: function == view.comm.funcPicker.selected}">
        <td>{{function | funcname}}</td>
        <td>0x{{function.address | hex}}</td>
    </tr>
</table>

<div class="pickersearch" ng-class="{filled: filterby != ''}">
    <span class="glyphicon glyphicon-search"></span>
    <input ng-model="filterby" placeholder="Filter...">
</div>
