<div ng-switch on="nodeType">
    <div ng-switch-when="simRun">
    <div id="graphRoot" style="position: relative; z-index: 0;">
    <div class="graph-node" id="{{ node }}"
         ng-repeat="node in nodes">
      <bblock block="node" view="view"></bblock>
    </div></div></div>

    <div ng-switch-when="function">
    <div id="graphRoot" style="position: relative; z-index: 0;">
    <div class="graph-node" id="{{ id }}"
         ng-repeat="(id, node) in nodes">
         <funcnode node="node" view="view"></funcnode>
    </div></div></div>
</div>
