<div style="position: absolute; left: 20px; top: 20px;">
    <div style="display: inline-block; background-color: grey; border-radius: 5px; width: 50px; height: 50px; font-size: 40px; text-align: center; margin: 10px;" ng-click="zoom(true)">+</div><br>
    <div style="display: inline-block; background-color: grey; border-radius: 5px; width: 50px; height: 50px; font-size: 40px; text-align: center; margin: 10px;" ng-click="zoom(false)">-</div>
</div>

<div ng-switch on="nodeType">
    <div ng-switch-when="simRun">
    <div id="graphRoot" style="position: relative; z-index: 0;">
    <div class="graph-node" id="{{ node }}"
         ng-repeat="node in nodes">
      <bblock block="node" uictx="uictx"></bblock>
    </div></div></div>

    <div ng-switch-when="function">
    <div id="graphRoot" style="position: relative; z-index: 0;">
    <div class="graph-node" id="{{ id }}"
         ng-repeat="(id, node) in nodes">
         <funcnode node="node"></funcnode>
    </div></div></div>
</div>
