<span ng-switch on="expr.tag">
  <span ng-switch-when="Iex_Get">
    GET:{{ expr.ty }}({{ expr.offset }})
  </span>
  <span ng-switch-when="Iex_RdTmp">
    t{{ expr.tmp }}
  </span>
  <span ng-switch-when="Iex_Qop">
    {{ expr.op }}(<irexpr expr="expr.arg1"></irexpr>, <irexpr expr="expr.arg2"></irexpr>, <irexpr expr="expr.arg3"></irexpr>, <irexpr expr="expr.arg4"></irexpr>)
  </span>
  <span ng-switch-when="Iex_Triop">
    {{ expr.op }}(<irexpr expr="expr.arg1"></irexpr>, <irexpr expr="expr.arg2"></irexpr>, <irexpr expr="expr.arg3"></irexpr>)
  </span>
  <span ng-switch-when="Iex_Binop">
    {{ expr.op }}(<irexpr expr="expr.arg1"></irexpr>, <irexpr expr="expr.arg2"></irexpr>)
  </span>
  <span ng-switch-when="Iex_Unop">
    {{ expr.op }}(<irexpr expr="expr.arg1"></irexpr>)
  </span>
  <span ng-switch-when="Iex_Load">
    LD{{ expr.end == 'Iend_Le' ? 'le' : 'be' }}:{{ expr.ty }}(<irexpr expr="expr.addr"></irexpr>)
  </span>
  <span ng-switch-when="Iex_Const">
    {{ expr.con.value }}:{{ expr.con.type.slice(4) }}
  </span>
  <span ng-switch-when="Iex_CCall">
    {{ expr.callee.name }}(<span ng-repeat="arg in expr.args"><irexpr expr="arg"></irexpr>, </span>):{{ expr.retty }}
  </span>
  <span ng-switch-when="Iex_ITE">
    ITE(<irexpr expr="expr.cond"></irexpr>, <irexpr expr="expr.iftrue"></irexpr>, <irexpr expr="expr.iffalse"></irexpr>)
  </span>
  <span ng-switch-default>
    {{ expr }}
  </span>
</span>
