<!-- {{ irsb }} -->
<div ng-repeat="stmt in irsb.statements" ng-init="nextStmt(renderData)" ng-if="true">
    <div ng-if="stmt.tag == 'Ist_IMark'" ng-init="localRender = nextInsn(renderData)">
        <span class="stmtLeftMargin blue">{{stmt.addr | hexpad}}</span>
        <asmstmt addr="stmt.addr" uictx="uictx" toggle="toggle(renderData, localRender)"></asmstmt>
    </div>
    <div ng-if="stmt.tag != 'Ist_IMark'" ng-init="localRender = getCtx(renderData)">
        <div ng-if="renderData.show[localRender.insnnum] && stmt.tag != 'Ist_NoOp'">
            <span class="stmtLeftMargin red">[{{localRender.stmtnum}}]</span>
            <irstmt stmtid="localRender.stmtnum" stmt="stmt"></irstmt>
        </div>
    </div>
</div>
<span class="stmtLeftMargin">Exit</span> ({{irsb.jumpkind.substr(4)}}): <irexpr expr="irsb.next"></irexpr>
