<!-- {{ stringifyStmt(stmt) }} -->
<div class="vex_irstmt" ng-if="stmt.tag != 'Ist_NoOp' && stmt.tag != 'Ist_AbiHint' && stmt.tag != 'Ist_MBE'" ng-switch on="stmt.tag">
  <div ng-switch-when="Ist_IMark">
      There's an IMark rendering. Why is there an imark rendering.
  </div>
  <div ng-switch-when="Ist_WrTmp">
    <irtmp tmp="stmt.tmp" stmtid="stmtid"></irtmp> = <irexpr expr="stmt.data" stmtid="stmtid"></irexpr>
  </div>
  <div ng-switch-when="Ist_Put">
    <irreg operation="'PUT'" offset="stmt.offset" stmtid="stmtid"></irreg> = <irexpr expr="stmt.data" stmtid="stmtid"></irexpr>
  </div>
  <div ng-switch-when="Ist_PutI">
    PUTI({{stmt.description}})[<irexpr expr="stmt.index" stmtid="stmtid"></irexpr>,{{stmt.bias}}] = <irexpr expr="stmt.data" stmtid="stmtid"></irexpr>
  </div>
  <div ng-switch-when="Ist_Store">
      ST{{stmt.endness.substr(5).toLowerCase()}}(<irexpr expr="stmt.addr" stmtid="stmtid"></irexpr>) = <irexpr expr="stmt.data" stmtid="stmtid"></irexpr>
  </div>
  <div ng-switch-when="Ist_LoadG">
    <irtmp tmp="stmt.dest" stmtid="stmtid"></irtmp> = if (<irexpr expr="stmt.guard" stmtid="stmtid"></irexpr>) {{stmt.cvt.substr(6)}}(LD{{stmt.end.substr(5).toLowerCase()}}(<irexpr expr="stmt.addr" stmtid="stmtid"></irexpr>)) else <irexpr expr="stmt.alt" stmtid="stmtid"></irexpr>
  </div>
  <div ng-switch-when="Ist_StoreG">
    if (<irexpr expr="stmt.guard" stmtid="stmtid"></irexpr>) ST{{stmt.end.substr(5).toLowerCase()}}(<irexpr expr="stmt.addr" stmtid="stmtid"></irexpr>) = <irexpr expr="stmt.data" stmtid="stmtid"></irexpr>
  </div>
  <div ng-switch-when="Ist_CAS">
    <span ng-if="stmt.oldHi != 0xFFFFFFFF"><irtmp tmp="stmt.oldHi" stmtid="stmtid"></irtmp>,</span>
    <irtmp tmp="stmt.oldLo" stmtid="stmtid"></irtmp> =
    CAS{{stmt.end.substr(5).toLowerCase()}}(<irexpr expr="stmt.addr" stmtid="stmtid"></irexpr> ::
    <span ng-if="stmt.oldHi != 0xFFFFFFFF"><irexpr expr="stmt.expdHi" stmtid="stmtid"></irexpr>,</span>
    <irexpr expr="stmt.expdLo" stmtid="stmtid"></irexpr> -&gt;
    <span ng-if="stmt.oldHi != 0xFFFFFFFF"><irexpr expr="stmt.dataHi" stmtid="stmtid"></irexpr>,</span>
    <irexpr expr="stmt.dataLo" stmtid="stmtid"></irexpr>)
  </div>
  <div ng-switch-when="Ist_LLSC">
    <span ng-if="stmt.storedata == null">
      <irtmp tmp="stmt.result" stmtid="stmtid"></irtmp> = LD{{stmt.endness.substr(5).toLowerCase()}}-Linked(<irexpr expr="stmt.addr" stmtid="stmtid"></irexpr>)
    </span>
    <span ng-if="stmt.storedata !== null">
      <irtmp tmp="stmt.result" stmtid="stmtid"></irtmp> = ST{{stmt.endness.substr(5).toLowerCase()}}-Cond(<irexpr expr="stmt.addr" stmtid="stmtid"></irexpr>, <irexpr expr="stmt.storedata" stmtid="stmtid"></irexpr>)
    </span>
  </div>
  <div ng-switch-when="Ist_Dirty">
    <irtmp tmp="stmt.tmp" stmtid="stmtid"></irtmp> = DIRTY <irexpr expr="stmt.guard" stmtid="stmtid"></irexpr> (TODO:effects) ::: {{stmt.cee.name}}(TODO:args)
  </div>
  <div ng-switch-when="Ist_Exit">
    if (<irexpr expr="stmt.guard" stmtid="stmtid"></irexpr>) goto {{stmt.jumpkind.substr(4)}} 0x{{stmt.dst.value.toString(16)}}
  </div>
  <div ng-switch-default>
    {{ stmt }}
  </div>
</div>
