<!-- {{ stringifyStmt(stmt) }} -->
<div class="vex_irstmt" ng-if="stmt.tag != 'Ist_NoOp' && stmt.tag != 'Ist_AbiHint' && stmt.tag != 'Ist_MBE'" ng-switch on="stmt.tag">
  <div ng-switch-when="Ist_IMark">
      <asmstmt addr="stmt.addr" view="view"></asmstmt>
  </div>
  <div ng-switch-when="Ist_WrTmp">
    <irtmp tmp="stmt.tmp" view="view"></irtmp> = <irexpr expr="stmt.data" view="view"></irexpr>
  </div>
  <div ng-switch-when="Ist_Put">
    <irreg operation="'PUT'" offset="stmt.offset" view="view"></irreg> = <irexpr expr="stmt.data" view="view"></irexpr>
  </div>
  <div ng-switch-when="Ist_PutI">
    PUTI({{stmt.description}})[<irexpr expr="stmt.index" view="view"></irexpr>,{{stmt.bias}}] = <irexpr expr="stmt.data" view="view"></irexpr>
  </div>
  <div ng-switch-when="Ist_Store">
      ST{{stmt.endness.substr(5).toLowerCase()}}(<irexpr expr="stmt.addr" view="view"></irexpr>) = <irexpr expr="stmt.data" view="view"></irexpr>
  </div>
  <div ng-switch-when="Ist_LoadG">
    <irtmp tmp="stmt.dest" view="view"></irtmp> = if (<irexpr expr="stmt.guard" view="view"></irexpr>) {{stmt.cvt.substr(6)}}(LD{{stmt.end.substr(5).toLowerCase()}}(<irexpr expr="stmt.addr" view="view"></irexpr>)) else <irexpr expr="stmt.alt" view="view"></irexpr>
  </div>
  <div ng-switch-when="Ist_StoreG">
    if (<irexpr expr="stmt.guard" view="view"></irexpr>) ST{{stmt.end.substr(5).toLowerCase()}}(<irexpr expr="stmt.addr" view="view"></irexpr>) = <irexpr expr="stmt.data" view="view"></irexpr>
  </div>
  <div ng-switch-when="Ist_CAS">
    <span ng-if="stmt.oldHi != 0xFFFFFFFF"><irtmp tmp="stmt.oldHi" view="view"></irtmp>,</span>
    <irtmp tmp="stmt.oldLo" view="view"></irtmp> = 
    CAS{{stmt.end.substr(5).toLowerCase()}}(<irexpr expr="stmt.addr" view="view"></irexpr> :: 
    <span ng-if="stmt.oldHi != 0xFFFFFFFF"><irexpr expr="stmt.expdHi" view="view"></irexpr>,</span>
    <irexpr expr="stmt.expdLo" view="view"></irexpr> -&gt; 
    <span ng-if="stmt.oldHi != 0xFFFFFFFF"><irexpr expr="stmt.dataHi" view="view"></irexpr>,</span>
    <irexpr expr="stmt.dataLo" view="view"></irexpr>)
  </div>
  <div ng-switch-when="Ist_LLSC">
    <span ng-if="stmt.storedata == null">
      <irtmp tmp="stmt.result" view="view"></irtmp> = LD{{stmt.endness.substr(5).toLowerCase()}}-Linked(<irexpr expr="stmt.addr" view="view"></irexpr>)
    </span>
    <span ng-if="stmt.storedata !== null">
      <irtmp tmp="stmt.result" view="view"></irtmp> = ST{{stmt.endness.substr(5).toLowerCase()}}-Cond(<irexpr expr="stmt.addr" view="view"></irexpr>, <irexpr expr="stmt.storedata" view="view"></irexpr>)
    </span>
  </div>
  <div ng-switch-when="Ist_Dirty">
    <irtmp tmp="stmt.tmp" view="view"></irtmp> = DIRTY <irexpr expr="stmt.guard" view="view"></irexpr> (TODO:effects) ::: {{stmt.cee.name}}(TODO:args)
  </div>
  <div ng-switch-when="Ist_Exit">
    if (<irexpr expr="stmt.guard" view="view"></irexpr>) goto {{stmt.jumpkind.substr(4)}} 0x{{stmt.dst.value.toString(16)}}
  </div>
  <div ng-switch-default>
    {{ stmt }}
  </div>
</div>
