<span ng-if="event.event_type == 'PathEventExitTaken'">
  <p class="lead">Exit!</p>
  <b>Type:</b> {{event.jumpkind.substr(4)}}<br>
  <b>From:</b> <span address a="event.source"></span><br>
  <b>To:</b> <span address a="event.target"></span><br>
  <b>Condition:</b> <span address a="event.guard"></span><br>
</span>
<span ng-if="event.event_type == 'PathEventSimRun'">
  <p class="lead">{{event.type}}<span ng-if="event.type != 'SimIRSB'"> - {{event.procedure}}</span>!</p>
  <b>Address:</b> <span address a="event.addr"></span>

  <p class="lead">{{event.exits.length}} exit(s):</p>
  <ul class="list-group">
    <li ng-repeat="e in event.exits" class="list-group-item">
      <b>Type:</b> {{e.jumpkind.substr(4)}}<br>
      <b>From:</b> <span address a="e.source"></span><br>
      <b>To:</b> <span address a="e.target"></span><br>
      <b>Condition:</b> <span address a="e.guard"></span><br>
    </li>
  </ul>

  <p class="lead">Refs:</p>
  <ref ng-repeat="r in event.refs" data="r" />
</span>
