<p class="lead">
  <button type="button" class="glyphicon btn btn-default btn-xs" ng-class="{'glyphicon-plus': !show_event, 'glyphicon-minus': show_event}" ng-click="show_event=!show_event"></button>
  <span ng-if="event.event_type == 'PathEventExitTaken'">Exit to <cexpr expr="event.target"></cexpr></span>
  <span ng-if="event.event_type == 'PathEventSimRun'">
    {{event.type}} -
      <span ng-if="event.type != 'SimIRSB'">{{event.procedure}}</span>
      <span ng-if="event.type == 'SimIRSB'"><cexpr expr="event.addr"></cexpr></span>
  </span>
  <span ng-if="event.event_type == 'PathEventMessage'">
      Message - {{event.category}}
  </span>
  <span ng-if="event.event_type == 'PathEventError'">
      Error
  </span>
</p>

<span ng-if="show_event">
  <span ng-if="event.event_type == 'PathEventExitTaken'">
    <b>Type:</b> {{event.jumpkind.substr(4)}}<br>
    <b>From:</b> <cexpr expr="event.source"></cexpr><br>
    <b>To:</b> <cexpr expr="event.target"></cexpr><br>
    <b>Condition:</b> <cexpr expr="event.guard"></cexpr><br>
  </span>
  <span ng-if="event.event_type == 'PathEventSimRun'">
    <p class="lead">{{event.exits.length}} exit(s):</p>
    <ul class="list-group">
      <li ng-repeat="e in event.exits" class="list-group-item">
        <b>Type:</b> {{e.jumpkind.substr(4)}}<br>
        <b>From:</b> <cexpr expr="e.source"></cexpr><br>
        <b>To:</b> <cexpr expr="e.target"></cexpr><br>
        <b>Condition:</b> <cexpr expr="e.guard"></cexpr><br>
      </li>
    </ul>

    <p class="lead">
      <button type="button" class="glyphicon btn btn-default btn-xs" ng-class="{'glyphicon-plus': !show_path, 'glyphicon-minus': show_refs}" ng-click="show_refs=!show_refs"></button> Refs:
    </p>
    <ref ng-if="show_refs" ng-repeat="r in event.refs track by $index" data="r"></ref>
  </span>
  <span ng-if="event.event_type == 'PathEventMessage'">
    <p><b>Category:</b> {{event.category}}</p>
    <p><b>Message:</b> {{event.message}}</p>
  </span>
  <span ng-if="event.event_type == 'PathEventError'">
    <p><b>Message:</b> {{event.message}}</p>
    <p ng-if='event.exception != null'>
      <b>Exception:</b> {{event.exception}}
    </p>
  </span>
  <span ng-if="event.event_type == 'PathEventMessage'">
    <p><b>Category:</b> {{event.category}}</p>
    <p><b>Message:</b> {{event.message}}</p>
  </span>
  <span ng-if="event.event_type == 'PathEventError'">
    <p><b>Message:</b> {{event.message}}</p>
    <p ng-if='event.exception != null'>
      <b>Exception:</b> {{event.exception}}
    </p>
  </span>
</span>
