<div class="top-bar">
    <a class="top-bar-title" href="/">Angr Management</a>
    Project: <em>{{instance.project}}</em> Instance: <em>{{instance.name}}</em>
</div>

<ul class="nav-tabs nav" role="tablist">
    <li ng-repeat="tab in tabs" ng-class="{ active: $index == activeTab }">
        <a ng-click="activateTab($index)">
            {{ tab.title }} <button class="closex" ng-click="closeTab($index)">x</button>
        </a>
    </li>
    <li>
        <a ng-click="addTab()">
            + New tab
        </a>
    </li>
</ul>

<viewlayout ng-if="activeTab != -1" view="tabs[activeTab]" instance="instance" ng-style="tabSpaceStyle"></viewlayout>
