<div class="top-bar">
    <a class="top-bar-title" href="/">Angr Management</a>
    Project: <em>{{instance.project}}</em> Instance: <em>{{instance.name}}</em>
</div>

<ul class="nav-tabs nav" role="tablist">
    <li ng-repeat="tab in tabs" ng-class="{ active: $index == activeTab }">
        <a ng-click="activateTab($index)">
            {{ tab.title }} <button class="closex" ng-click="closeTab($index)">x</button>
        </a>
    </li>
    <li>
        <a ng-click="newTab($event)">
            + New tab
        </a>
    </li>
</ul>

<ul class="dropdown-menu" ng-style="popupStyle" role="menu">
    <li role="presentation" ng-repeat="(name, func) in newTabs"><a role="menuitem" ng-click="func()">{{name}}</a></li>
</ul>

<div ng-repeat="tab in tabs">
  <viewlayout ng-show="activeTab == $index" view="tab" uictx="uictx" instance="instance" ng-style="tabSpaceStyle"></viewlayout>
</div>
<context-menu-endpoint></context-menu-endpoint>
