<div class="top-bar">
    <span class="top-bar-title">Angr Management</span>
    Project: <em>{{instance.project}}</em> Instance: <em>{{instance.name}}</em>
</div>

<ul class="nav-tabs nav" role="tablist">
    <li ng-repeat="tab in tabs" ng-class="{ active: $index == activeTab }">
        <a ng-click="activateTab($index)">
            {{ tab.title }}
        </a>
    </li>
    <li>
        <a ng-click="addTab()">
            + New tab
        </a>
    </li>
</ul>

<div ng-if="activeTab != null" ng-switch on="tabs[activeTab].type">
    <div ng-switch-when="CFG">
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        <cfg instance="instance.id" data="tabs[activeTab]"></cfg>
    </div>

    <div ng-switch-when="FUNCTIONS">
        CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
        <functions instance="instance.id" data="tabs[activeTab]"></functions>
    </div>

    <div ng-switch-when="SURVEYOR">
        BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
        <surveyors instance="instance.id"></surveyors>
        <graph nodes="tabs[activeTab].data.cfgNodes" edges="tabs[activeTab].data.cfgEdges"></graph>
    </div>
</div>
