<div class="memory_controls">
  <form class="form-inline" ng-submit="sync_start()">
    <div class="form-group">
      <label>Address</label>
      <input hard-focusable class="form-control" ng-model="start_input" number_base="16">
    </div>
    <div class="form-group">
      <label>Size</label>
      <input hard-focusable class="form-control" ng-model="limit_input" number_base="10">
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </form>
</div>
<memory-grid memory="state.plugins.memory" limit="limit" start="start"></memory-grid>
