<div class="panel-heading">
  <button type="button" class="glyphicon btn btn-primary btn-xs" ng-class="{'glyphicon-plus': !data.showSur[sid], 'glyphicon-minus': data.showSur[sid]}" ng-click="data.showSur[sid]=!data.showSur[sid]"></button>
  {{surveyor.type}} with {{surveyor.step}} step{{ surveyor.step == 1 ? '' : 's' }}
  and {{surveyor.all_paths.length}} path{{ surveyor.all_paths.length == 1 ? '' : 's' }}
</div>

<span ng-if="data.showSur[sid]">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Maximum concurrency:</dt> <dd>{{surveyor.max_concurrency}}</dd>
      <dt>Save deadends:</dt> <dd>{{surveyor.save_deadends}}</dd>
      <dt>Empty path lists:</dt>
      <dd>
        <span ng-repeat="(name,paths) in surveyor.path_lists">
          <span ng-if="paths.length == 0"> {{name}}
        </span>
      </dd>
    </dl>

    <h4>Paths</h4>
    <table class="table">
      <tr ng-repeat="(name,paths) in surveyor.path_lists">
        <th ng-if="paths.length > 0">{{paths.length}} {{name}} paths</th>
        <td ng-if="paths.length > 0">
          <div class="well path_box" ng-repeat="pid in paths">
                  <path pid="pid"></path>
            <button ng-if="name != 'active'" class="btn" ng-click="reactivate(pid)">Reactivate</button>
            <button ng-if="name == 'active'" class="btn" ng-click="suspend(pid)">Suspend</button>
            <button class="btn" ng-click="showCFG(pid)">Show in CFG</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</span>

<div class="panel-footer">
  <form class="form-inline" novalidate>
    <div class="form-group">
      <label>Step</label>
      <input style="width: 3em;" id="steps" ng-model="data.steps" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn" ng-click="step(data.steps)">Step!</button>
    </div>

    <div class="form-group">
      <button type="submit" class="btn" ng-click="run()">Run!</button>
    </div>
  </div>
</div>
