<viewlayout ng-if="view.splitData" style="{{ view.splitData.horizontal ? 'bottom' : 'right'}}: {{ (1-view.splitData.size) * 100 }}%;" view="view.halfA" instance="instance"></viewlayout>
<viewlayout ng-if="view.splitData" style="{{ view.splitData.horizontal ? 'top' : 'left'}}: {{ view.splitData.size * 100 }}%;" view="view.halfB" instance="instance"></viewlayout>

<div ng-if="!view.splitData" ng-switch on="view.type">
    <div ng-switch-when="CFG" cfg instance="instance.id" view="view"></div>
    <div ng-switch-when="SURVEYOR" surveyors instance="instance.id" view="view"></div>
    <div ng-switch-when="SPLITTEST" splittest instance="instance.id" view="view"></div>
    <div ng-switch-when="FUNCTION_PICKER" funcpicker instance="instance.id" view="view"></div>
    <div ng-switch-when="FUNCTION_MANAGER" funcman instance="instance.id" view="view"></div>
    <div ng-switch-when="PROXIMITY_GRAPH" proxgraph instance="instance.id" view="view"></div>
</div>
